[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/bobrovskyks
[access "refs/for/refs/*"]
	read = group user/bobrovskyks
	push = group user/bobrovskyks
	label-Code-Review = -2..+2 group user/bobrovskyks
	label-Verified = -1..+1 group user/bobrovskyks
	rebase = group user/bobrovskyks
	removeReviewer = group user/bobrovskyks
	submit = group user/bobrovskyks
[access "refs/heads/*"]
	read = group user/bobrovskyks
	create = group user/bobrovskyks
	push = +force group user/bobrovskyks
	pushMerge = group user/bobrovskyks
[access "refs/tags/*"]
	push = +force group user/bobrovskyks
	pushTag = group user/bobrovskyks
	pushSignedTag = group user/bobrovskyks
